<div class="flex flex-col">
  {{#if this.isEditing}}
    <Textarea class="text-black" @rows="4" @value={{@description}} />
    <button
      type="button"
      class="self-end mt-4 btnPrimary"
      {{on "click" this.updateBandDetail}}
    >
      Sauvegarder
    </button>
  {{else}}
    <p>
      {{!-- {{this.args.description}} --}}
      {{@description}}
    </p>
    <button
      type="button"
      class="self-end mt-4 btnPrimary"
      {{on "click" this.editBandDetail}}
    >
      Editer
    </button>
  {{/if}}
</div>