{{yield}}
{{#each this.stars as |star|}}
  {{#if star.isFull}}
    <button
      type="button"
      {{on "click" (fn this.setRating star.rating)}}
      {{hover-star}}
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        class="h-4 mx-1 text-blue-400 fill-current"
      >
        <path
          d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"
        ></path>
      </svg>
    </button>
  {{else}}
    <button
      type="button"
      {{on "click" (fn this.setRating star.rating)}}
      {{hover-star}}
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        class="h-4 mx-1 text-white fill-current"
      >
        <path
          d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"
        ></path>
      </svg>
    </button>
  {{/if}}
{{/each}}